<div class="sidebar sticky-top">
  <div class="sidebar-section">
    <h5><span>Recent News:</span></h5>
    &nbsp;&rarr;&nbsp; Updated the homepage around civil engineering, wind engineering, and long-form technical writing. [May 2026]<br>
    <br>
    &nbsp;&rarr;&nbsp; Added a new personal note and working research placeholders for future expansion. [May 2026]<br>
    <br>
    &nbsp;&rarr;&nbsp; Keeping this site as a compact public notebook for research, writing, and project records. [Apr 2026]<br>
  </div>
</div>
